body {
  height: 1150px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  font-weight: bold;
  background-image: url("/img/wepik-export-20231112170028Sheu.jpeg");
  background-size: 102% 150%;
  background-position-y: -100px;
}

.sbody {
  margin-top: -25px;
}
#title {
  font-size: 60px;
  color: black;
  font-family: serif;
  margin-bottom: 90px;
}

/* Menubar */
.menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.menuBar2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Button */
.submit {
  height: 30px;
  width: 200px;
  background: rgb(255, 255, 255);
  border: solid 2px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
}

.submit2 {
  width: 200px;
  height: auto;
  flex-wrap: wrap;
  flex-direction: row;
}
/* Button */

/* Speed Button */
input[type="range"] {
  width: 150px;
}
/* Color Picker Button */
input[type="color"] {
  width: 110px;
  height: 25px;
  padding: 3px;
  border: solid 1px;
  border-radius: 5px;
  margin-right: 20px;
}

.secondcontainer {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
}

#controlBar {
  width: 1300px;
  height: 30px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

#secondControlBar {
  display: flex;
  width: 1180px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
#cp {
  margin-right: 200px;
}

#canvas {
  display: flex;
  justify-content: center;
  /* margin: 15px; */
}
/* 
@media screen and (max-width: 430px) {
  .sbody .menuBar {
    display: flex;
    flex-direction: column;
  }
} */
