body {
  background-image: url("/close-up-hands-holding-blank-board.jpg");
  background-position-x: -780px;
  background-size: 2240px;
  margin-top: 100px;
  /* justify-content: center; */
  width: auto;
  height: 1000px;
}

.title {
  font-size: 25px;
  /* margin-top: 150px; */
  margin-bottom: 100px;
}

.firstcontainer {
  font-size: 25px;
  margin-bottom: 20px;
}

#img1 {
  border: solid 3px black;
  width: 400px;
  height: 400px;
}
