body {
  background-image: url("/img/close-up-hands-holding-blank-board.jpg");
  background-position-x: -470px;
  background-size: 105%;
  margin-top: 115px;
  justify-content: center;
  height: 900px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(252 252 252);
}

.title {
  font-size: 25px;
  /* margin-top: 150px; */
  margin-bottom: 80px;
}

.firstcontainer {
  font-size: 20px;
  margin-bottom: 20px;
}

#img1 {
  border: solid 3px black;
  width: 400px;
  height: 400px;
}
