body {
  background-image: url("/img/close-up-hands-holding-blank-board.jpg");
  background-position-x: -39em;
  /* background-size: auto; */
  /* background-position-x: -650px; */
  background-size: 100%;
  margin-top: 150px;
  justify-content: center;

  height: 1000px;
}

.title {
  font-size: 25px;
  /* margin-top: 150px; */
  margin-bottom: 100px;
}

.firstcontainer {
  font-size: 25px;
  margin-bottom: 20px;
}

#img1 {
  border: solid 3px black;
  width: 400px;
  height: 400px;
}
